<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC44I74RDbA8CYUxRu8Z3IerihEv4l8r6c</string>
	<key>GCM_SENDER_ID</key>
	<string>982867337861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.irescue</string>
	<key>PROJECT_ID</key>
	<string>irescue-2e6ca</string>
	<key>STORAGE_BUCKET</key>
	<string>irescue-2e6ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982867337861:ios:b0ce6eb24ac9de74157fec</string>
</dict>
</plist>